@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    background-color: white !important;
}

:root {
    --colorPrimario: #e2842c; /*--Color de los titulos de cda sección y del borde inferior de las imagenes--*/
    --colorSecundario: #f58115; /*--Color de los botones--*/
}

.container{
    margin-top: 2% !important;
}

#carouselIndex{
    margin-top: 1%;
}

#particles-js { /*--Configuración del contenedor de las particulas--*/
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.containerTitulo{ /*--Estilos de los titulos que separan cada sección--*/
    background-color: rgb(66, 62, 62);
    color: aliceblue;
    padding: 3px;
    padding-top: 3px;
    margin: 1.5% auto;
    margin-top: 2%;
}
.containerTitulo h2{
    margin: 0;
    font-size: 23px;
}

/*--Sección de servicios más solicitados--*/
.containerServicios{
    display: flex;    
    justify-content: space-around;
    box-sizing: border-box;
}
.containerServicios div{
    margin: 0 1%;
}
.btnServicios{
    background-color: var(--colorSecundario) !important;
    border-color: var(--colorSecundario) !important;
    transition: all 0.3s;
}
.btnServicios:hover{
    background-color: #db7618 !important;
    transition: all 0.3s;
}
.cardImgTop{ /*--Imagen de los servicios más solicitados--*/
    border-bottom: 5px solid var(--colorPrimario);
    width: 100%;
}

/*--Sección de los comentarios--*/
.comentario{
    background-color: rgb(228, 228, 228);
    border: 2.5px solid var(--colorSecundario);
    border-bottom-width: 0px;
    width: 90%;
    margin: 1.5% auto;
    padding: 5px;
    padding-bottom: 1%;
}
.viñetaIzquierda{/*--Comentario con viñeta hacia la izquierda--*/
    clip-path: polygon(0% 0%, 10% 0%, 100% 0%, 100% 100%, 62% 100%, 3% 100%, 3% 37%);
    padding-left: 5%;
    border-left-width: 0px;
}
.viñetaDerecha{/*--Comentario con viñeta hacia la derecha--*/
    clip-path: polygon(0% 0%, 78% 0%, 100% 0%, 96% 31%, 96% 100%, 0% 100%, 0% 36%);
    padding-left: 2%;
    padding-right: 5%;
    border-right-width: 0px;
}
.comentario p{
    margin-bottom: 0;
}
.comentario p span{/*--Comillas de los comentarios--*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.spanNombreCliente{
    font-weight: bold;
}

.card-body {
    text-align: justify;
}

.comentario {
    background-color: white;
}



/*--Responsive--*/
@media screen and (max-width: 991px){
    .containerServicios{
        display: block;
    }
    .containerServicios .card{
        width: 100% !important;
    }
    .containerServicios .card img{
        width: 80%;
        border-width: 0px;
    }
    .containerImgCard{
        text-align: center;
        overflow: hidden;
        height: 22vw;
    }
    .card-body{
        border-top: 5px solid var(--colorPrimario);
    }
}

/*CSS de Fherney Silva*/

#cajaPrincipalMenu {
    border: 0px solid;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--colorPrimario);
}

#cajaLogo {
    width: 12%;
    border-radius: 5px;
    background-color: transparent;
}

#imagenLogo {
    margin-left: 3px;
    margin-top: 3px;
    height: 48px;
    background-image: url(../images/logo_sonrilaser.png);
    background-size: 100% 100%;
}

#cajaMenu {
    width: 45%;
}

.botonesMenu {
    border: none;
    width: 25%;
    height: 50px;   
    margin-right: -3px; 
    margin-top: -2px;
    margin-bottom: 10px;
    font-family: Cairo, sans-serif;
    font-size: 17px;
    transition: 300ms;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: var(--colorPrimario);
}

.botonesMenu:hover {
    background-color: rgb(214, 89, 51);
    color: white;
    transition: 300ms;
    border-bottom: 3px solid rgb(18, 5, 44);
}

#botonInicio {
    margin-left: 0px;
    width: 15%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

#listaProcedimientos {
    position: absolute;
    z-index: 100;
    width: 18%;
    visibility: hidden;
    transition: 100ms;
    text-align: left;
    padding-left: 0px;
    margin-top: 1.1%;
    margin-left: -5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

li {
    list-style: none;
}

.itemsProcedimientos { 
    padding: 0.8%;
}

.itemsProcedimientos:hover {
    background-color: rgb(214, 89, 51);
}

#botonProcedimientos a {
    text-decoration: none;
    color: #ffff !important;
}

#botonProcedimientos:hover #listaProcedimientos {
    color: white !important;
    text-align: left;
    width: 18%;
    margin-top: 1.1%;
    margin-left: -5px;
    padding-left: 0px;
    transition: 500ms;
    background-color: #F79233;
    visibility: visible;
    display: block;
}

#cajaLogin {
    width: 13%;
    height: 85px;
    position: absolute;
    right: 0;
}

#cajaImagenLogin {
    width: 23%;
    height: 45px;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

#imagenLogin {
    background-image: url(../images/icono-login.png);
    background-size: 100% 100%;
    height: 30px
}

#botonIniciarSesion {
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: Cairo, sans-serif;
    font-size: 17px;
    transition: 300ms;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(49, 50, 68);
}

#botonIniciarSesion:hover {
    background-color: rgb(82, 84, 112);
    color: white;
    transition: 150ms;
    border-bottom: 4px solid var(--colorPrimario);
}

label {
    padding: 12px;
    height: 26px;
    margin-left: 6px;
    float: left;
    cursor: pointer;
}

#cajaRedesSociales {
    position: fixed;
    top: 50%;
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 2.5%;
    height: 45px;
    cursor: pointer;
    background-color: rgb(154, 195, 208);
    z-index: 200;
}

.compartirRedes {
    font-size: 30px;
    margin-top: 8px;
}

#listaRedesSociales {
    width: 40px;
    position: absolute;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    margin-left: 38px;
    margin-top: -60px;
    height: 80px;
    padding-left: 0%;
    border-radius: 15px;
    background-color: rgb(17, 17, 51);
}

#listaRedesSociales a{
    color: #ffff;
}

#cajaRedesSociales:hover #listaRedesSociales {
    color: white;
    text-align: left;
    opacity: 1;
    visibility: visible;
    display: block;
}

.redesSociales {
    font-size: 38px;
    margin-top: 3px;
    margin-left: 3px;
}

#redInstagram {
    margin-top: -4px;
}

#cajaFooter {
    border: 0px solid;
    width: 100%;
    height: 105px;
    background-color: #4c4452;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#cajaDoctor {
    width: 7%;
    margin-top: 3px;
    margin-left: 2%;
}

#imagenDoctor {
    background-image: url(../images/imagen-doctor.png);
    background-size: 100% 100%;
    height: 100px;
}

#nombreDoctor {
    float: right;
    color: white;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
}

#direcciones {
    width: 20%;
    height: 55px;
    color: white;
    margin-left: 15%;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.direccionFisica{
    margin-top: 0 !important;
}

.numeroTelefono{
    margin-top: 1.5%;
}